<header>
<nav class="uk-navbar-container" uk-navbar>


<div class="uk-navbar-left uk-navbar-item">

        <div class="uk-navbar-item">

             <form method="GET" action="/logout" onsubmit="">
               
                <input type="submit" value="تسجيل خروج" class="uk-button uk-button-default uk-button-danger" ß/>
             </form>
        </div>

    </div>

    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/showUsers">البحث عن مستخدمين</a></li>
            <li class="uk-active"><a href="/addUser">إضافة مستخدم</a></li>
            <li class="uk-active"><a href="/">الرئيسية</a></li>
        </ul>


    </div>

</nav>


</header>    