 <div align="right" id="user-info-card" class="uk-card uk-margin-large-top uk-position-medium uk-position-top-right uk-card-default uk-card-body">
            <h3 class="uk-card-title">معلومات المستخدم</h3>
            <p>الأسم : <%= name %></p>
            <p>صفة : <%= specialty %></p>
            <a href="/userInfo">الملف شخصي</a>
            
 </div>
    