<html>

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit-icons.min.js"></script>
    <script type="text/javascript" src="/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    
 <style> 

        #user-info-card{

        position: fixed;
        top: 25px;
        
   
       }
      
       .positon{
         position: fixed;
        top: 125px;
       }
       .primary-color{
                 background-color: #86C323
        }

        .primary-color:hover{
                background-color: #68981b
        }

        button:hover{
                background-color: #68981b
            }

        .center{
               
                display: table;
                margin: 0 auto;
         }
                 

       </style>

  </head>

 

  <body ng-app="apSearchUser" ng-controller="apSearchUserController">

      <%-  include('partials/header.ejs') %>
 

          <div class="uk-padding-small  positon uk-position-top-center uk-card uk-card-default">
          <form method="POST" action="/showUsersResult" class="">

              <div class="uk-margin">

                <!--  <button id="signUpButton" class="primary-color uk-button uk-button-primary" ng-click="fetchUsers();">بحث</button> -->
                  <select name="userType" class="uk-text-right uk-form-width-large uk-select" data-ng-model="userType">
                      <option value="">الكل</option>
                      <option value="مدير نظام">مدير النظام</option>
                      <option value="مدير المخزن">مدير المخزن</option>
                      <option value="طبيب">طبيب</option>
                      <option value="صيدلي">صيدلي</option>
                    </select>
                    <input name="name" class="uk-text-right uk-input uk-form-width-large" data-ng-model="name" type="text" placeholder="إسم المستخدم/الرقم الوطني">
           
            </div>
         
        </form>
    
       </div>

<div class="uk-overflow-auto uk-position-center uk-text-right">
    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
        <thead>
            <tr>
                <th class="uk-table-expend">رقم الهاتف</th>
                <th class="uk-table-expend">البريد الإلكتروني</th>
                <th class="uk-table-expend">الرقم الوطني</th>
                <th class="uk-table-small">نوع المستخدم</th>
                <th class="uk-width-small">الأسم</th>
                <th class="uk-width-small"></th>
                <th class="uk-width-small"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users | filter:name | filter:luserType">
                
                <td class="">{{user.MOBILE_NO}}</td>
                <td class="">{{user.EMAIL}}</td>
                <td class="">{{user.NATIONAL_ID}}</td>
                <td class="">{{user.USER_TYPE_AR}}</td>
                <td class="">{{user.FIRST_NAME}} {{user.FATHER_NAME}} {{user.SURENAME}}</td>
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="">حذف</a>
                </td>
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="">تعديل</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

          
       

       </div>

           
       <script>

          angular.module('apSearchUser',[]).controller('apSearchUserController',($scope,$http) => {
     
            $http.post('/getUsers').then((response) => {
              

              $scope.users = response.data.users;

       
            });
             $scope.fetchUsers = (event) => {
     
               event.preventDefault();
               alert($scope.name);
             }
     
          });
        
        
        
        
        </script>

  

  </body>
</html>
