<html>

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit-icons.min.js"></script>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script  src="dataIntegrity.js"></script>
    <style>

        #user-info-card{

        position: fixed;
        top: 25px;
        
   
       }

          .primary-color{
                 background-color: #86C323
             }

           .primary-color:hover{
                 background-color: #68981b
             }

             button:hover{
                 background-color: #68981b
             }
             .center{
               
               display: table;
               margin: 0 auto;
              }

       

  </style>
  </head>
<body ng-app="apUserInfo">


   <%- include('partials/header.ejs') %>
   <div>
        <div class="uk-padding-small uk-text-right">
        <br/>
        <div>
            <div class="uk-card uk-card-body uk-card-default uk-card-small">

                
                <h4>بيانات المستدخدم</h4>

                <div  ng-hide="active">
                        <div class="expand-collapse-content">
                            <form method="POST" action="/addUser" class="uk-text-center">

                              <div class="uk-margin">
                                 <input id="fatherName" name="fatherName" class="uk-text-right uk-input uk-form-width-large" type="text" placeholder="إسم الأب">
                                 <input id="firstName" name="firstName" class="uk-text-right uk-input uk-form-width-large" type="text" placeholder="إسم المستخدم">
                               </div>
                
                               <div class="uk-margin">
                                  <input id="nationalId" name="nationalId" class="uk-text-right uk-input uk-form-width-large" type="text" placeholder="الرقم الوطني">
                                  <input id="surename" name="surename" class="uk-text-right uk-input uk-form-width-large" type="text" placeholder="إسم العائلة">
                               </div>
                
                               <div class="uk-margin">
                                  <input id="mobileNo" name="mobileNo" class="uk-text-right uk-input uk-form-width-large" type="text" placeholder="رقم الهاتف">
                                  <input id="email" name="email" class="uk-text-right uk-input uk-form-width-large" type="email" placeholder="البريد الإلكترني">
                               </div>

                               <div class="uk-margin center">
                                  <button id="" ng-submit="changePassword(someform)" class=" primary-color uk-button uk-button-primary">حفظ التغييرات</button>
                               </div>

                           </form>
                        </div>
                      </div>
                </div>
                
            </div>
        
            <br/>


          <div class="uk-card uk-card-body uk-card-default uk-card-small">   
            <h4>كلمة السر</h4>

            <div class="center ">
                    <div class="expand-collapse-content ">
                      <form id="login" method="POST" >
    
                        <div class="uk-inline">  
                             <input  id="oldPassword" name="oldPassword" type="password" class="uk-input uk-form-width-large" placeholder="كلمة المرور القديمة"/>
                        </div>  
             
                        <br/>
                        <br/>
                        
                            
                          <div class="uk-inline">   
                              <input id="newPassword" name="newPassword" type="password" placeholder="كلمة المرور الجديدة" class="uk-input uk-form-width-large"/>
                          </div>
             
                        <br/>
                        <br/>

                        <div class="uk-inline">   
                     
                                <input id="confirmPassword" name="confirmPassword" type="password" placeholder="كلمة المرور الجديدة" class="uk-input uk-form-width-large"/>
                        </div>
                 
                        <br/>
                        

                        <div class="uk-margin center">
                             <button id="changePassword" class=" primary-color uk-button uk-button-primary">تغير كلمة السر</button>
                        </div>
                      </form>
                    </div>
                  </div>
      
      </div>   
    </div>      

    <div id="alert" ng-show ="isVisible" ng-bind-html="alert">
   
 

    </div>

<script>


$(document).ready(() => {

    $('#changePassword').click((event) => {

      event.preventDefault();
    
  
      if(areFieldsEmpty([$("#oldPassword").val(),$("#newPassword").val(),$("#confirmPassword").val()])){

            alert('كل الحقول مطلوبة')
            }else if(passwordLengthLessThenSix($("#newPassword").val())){

            alert('كلمة السر يجب ألا تكون أقل من 6 أحرف');

            }else if(passwordMatcher($("#oldPassword").val(),$("#confirmPassword").val())){

            alert('كلمة السر غير متوافقة');

            }else{

              $.ajax({

                        
                  url:"/updatePassword",
                  type:"POST",
                  data:"oldPassword="+$("#oldPassword").val()+"&newPassword="+$("#newPassword").val(),
                  success: (response) => {


                                    
                    if(response.changedRows === 0){

                        alert("فشل تغيير، حول مجدداً")


                      }else{

                        alert("تم تغيير كلمة المرور بنجاح")
                        window.location.replace('/');

                      }


                  }



              });


             }

     

   });

})


</script>



<script type="text/javascript">
 
  $("#changePassword").hover(() => {

      $("#changePassword").css("background-color", "#68981b" );
  
  },() => {

    $("#changePassword").css("background-color", "#86C323");

  });

  
</script>

<script type="text/javascript">
 
  $(document).ready(() => {

    
      
      $.ajax({

        url:"/fetchUserData",
        type:"POST",
        success:(result) => {

          

          
          $("#nationalId").val(result[0].NATIONAL_ID);
          $("#firstName").val(result[0].FIRST_NAME);
          $("#surename").val(result[0].SURENAME);
          $("#fatherName").val(result[0].FATHER_NAME);
          $("#email").val(result[0].EMAIL);
          $("#mobileNo").val(result[0].MOBILE_NO);
        }


      });

  });

  
</script>



  </body>
</html>