<html>

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit-icons.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script type="text/javascript" src="/jquery.min.js"></script>
    <script type="text/javascript" src="/angular.min.js"></script>
    <script type="text/javascript" src="/angular.js"></script>
    <style>

        #user-info-card{

        position: fixed;
        top: 25px;
        
   
       }

          .primary-color{
                 background-color: #86C323
             }

           .primary-color:hover{
                 background-color: #68981b
             }

             button:hover{
                 background-color: #68981b
             }
             .center{
               
               display: table;
               margin: 0 auto;
              }

       

  </style>
  </head>
<body ng-app="apUserInfo">


   <%- include('partials/header.ejs') %>
   <div ng-controller="apUserInfoController" >
        <div class="uk-padding-small uk-text-right">
        <br/>
        <div>
            <div class="uk-card uk-card-body uk-card-default uk-card-small" ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">

                
                <h4>بيانات المستدخدم</h4>

                <div  ng-hide="active">
                        <div class="expand-collapse-content">
                            <form method="POST" action="/addUser" class="uk-text-center">

                              <div class="uk-margin">
                                 <input id="fatherName" name="fatherName" class="uk-text-right uk-input uk-form-width-large" type="text" placeholder="إسم الأب">
                                 <input id="firstName" name="firstName" class="uk-text-right uk-input uk-form-width-large" type="text" placeholder="إسم المستخدم">
                               </div>
                
                               <div class="uk-margin">
                                  <input id="nationalId" name="nationalId" class="uk-text-right uk-input uk-form-width-large" type="text" placeholder="الرقم الوطني">
                                  <input id="surename" name="surename" class="uk-text-right uk-input uk-form-width-large" type="text" placeholder="إسم العائلة">
                               </div>
                
                               <div class="uk-margin">
                                  <input id="mobileNo" name="mobileNo" class="uk-text-right uk-input uk-form-width-large" type="text" placeholder="رقم الهاتف">
                                  <input id="email" name="email" class="uk-text-right uk-input uk-form-width-large" type="email" placeholder="البريد الإلكترني">
                               </div>

                           </form>
                        </div>
                      </div>
                </div>
                
            </div>
        
            <br/>


          <div class="uk-card uk-card-body uk-card-default uk-card-small" ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">   
            <h4>كلمة السر</h4>

            <div class="center " ng-hide="active ">
                    <div class="expand-collapse-content ">
                      <form id="login" method="POST" >
    
                        <div class="uk-inline">  
                             <input ng-model="oldPassword" name="oldPassword" type="password" class="uk-input uk-form-width-large" placeholder="كلمة المرور القديمة"/>
                        </div>  
             
                        <br/>
                        <br/>
                        
                            
                          <div class="uk-inline">   
                              <input id="newPassword" ng-model="newPassword" name="newPassword" type="password" placeholder="كلمة المرور الجديدة" class="uk-input uk-form-width-large"/>
                          </div>
             
                        <br/>
                        <br/>

                        <div class="uk-inline">   
                     
                                <input id="confirmPassword" ng-model="confirmPassword" name="confirmPassword" type="password" placeholder="كلمة المرور الجديدة" class="uk-input uk-form-width-large"/>
                        </div>
                 
                        <br/>
                        

                        <div class="uk-margin center">
                             <button id="changePassword" ng-click="updatePassword($event)" class=" primary-color uk-button uk-button-primary">تغير كلمة السر</button>
                        </div>
                      </form>
                    </div>
                  </div>
      
      </div>   
    </div>      


<script>
var expandCollapseApp = angular.module('apUserInfo', ['ngAnimate']);

expandCollapseApp.controller('apUserInfoController', function ($scope,$http) {
    
  

   $scope.updatePassword = ($event) => {

     $event.preventDefault();
     $http.post('/updatePassword',{newPassword:$scope.newPassword, oldPassword:$scope.oldPassword}).then(
         (result) => {

         }, (error) => {

         }
     );


   }
        
});
</script>






  </body>
</html>